*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    
}
body{
    background-color: #ecf0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 4, 80px;
    grid-gap: 10px;

}
input{
    grid-column: span 4;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    background-color: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 7px rgba(0,0,0,0.1);
    
}

button{
    height: 60px;
    background-color: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 7px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    margin: 8px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:active{
    background-color: #d1d9e6;

}

button.equal{
    grid-column: span 4;
    background-color: #4ca049;
    color:white;

}
button.equal:active{
    background-color: #45a049;
}
